/*======= GERAL ==============================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background: var(--brand-green);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 5rem;
}

:root{
    font-size: 62.5%; /* 1rem = 10px*/

    --hue: 211;
    --primary-color: hsl(var(--hue), 100%, 26%);
    --headline: #212529;
    --paragraph: hsl(calc(var(--hue) + 40), 9%, 31%);
    --brand-beige: hsl(calc(var(--hue) - 131), 100%, 97%);
    --brand-green: hsl(calc(var(--hue) - 20), 23%, 89%);
    --brand-light-2: hsl(calc(var(--hue) + 10) , 14%, 97%);
    --brand-hover: hsl(var(--hue), 100%, 14%);
    --nav-height: 7.2rem;
}

html,
body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}

body{
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    background: var(--brand-light-2);
}

section{
    padding-block: 10rem;
}

.wrapper{
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

img{
    width: 100%;
}

.button-primary{
    background-color: var(--primary-color);
    border: none;
    border-radius: 4rem;
    text-decoration: none;
    line-height: 20px;
    font-size: 1.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    text-transform: uppercase;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 6rem;
    
    padding: 1.6rem 3.2rem;
    width: fit-content;
    transition: background .2s;
}
.button-primary:hover{
    background-color: var(--brand-hover);
}

section header h1{
    font-size: 3.4rem;
    line-height: 130%;
    color: var(--headline);
    margin-bottom: 2.4rem;
}

section header h2{
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);
}

section header h4{
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

section .content{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--paragraph);
}

.social-links{
    display: flex;
    justify-content: center;
    gap: 3.2rem;
}

/*======= CUSTOM ==============================================*/
nav .logo path[fill*="#00856F"]{
    fill: var(--primary-color)
}
nav button path{
    stroke: var(--primary-color);
}

#buttonBackToTop circle{
    fill: var(--primary-color);
}

#contact li path{
    stroke: var(--primary-color);
}


/*======= #HOME ==============================================*/
#home{
    padding-top: calc(4.1rem + var(--nav-height));
}

#home::before{
    width: 100%;
    height: calc(72% + var(--nav-height));
    content: '';
    background-color: var(--brand-green);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

#home .button-primary{
    margin-inline: auto;
}

#home p{
    color: var(--paragraph);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    margin-bottom: 3.2rem;
}

#home .container-static{
    background: var(--brand-beige);
    border: 1px solid var(--brand-green);
    border-radius: 0.6rem;
    width: 100%;
    padding-block: 4rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

#home .static{
    width: auto;
} 

#home .static h3{
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem; 
}

#home .static p{
    line-height: 150%;
    color: var(--primary-color);
    margin-bottom: 0;
}

/*============= NAV ==========================================*/
nav{
    height: var(--nav-height);
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll{
    background: var(--primary-color);
}

nav.scroll .logo path {
    fill: white;
}
nav.scroll button path {
    stroke: white;
}

.img{
    display: block;
    margin-inline: auto;
    width: 26.3rem;
    object-position: 0 1.7rem;
}
/*========= MENU-EXPANDED =========================*/

.menu{
    transform: translateX(100%);
}

nav .menu,
nav .close-menu{
    position: fixed;
}

body.menu-expanded{
    overflow: hidden;
}

body.menu-expanded > :not(nav){
    visibility: hidden;
}
.menu,
.close-menu,
body.menu-expanded .open-menu{
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .close-menu path{
    stroke: white;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
    fill: hsl(0, 0%, 100%);
}

body.menu-expanded .menu ul:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.8rem;
}

body.menu-expanded .menu ul a{
    color: white;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
    text-decoration: none;
}

body.menu-expanded .menu{
    padding-top: calc(5rem + var(--nav-height));
    top: 0;
    left: 0;
    background: var(--primary-color);
    width: 100vw;
    height: 100vh;

    transition: transform 500ms;
    transform: translateX(0);
}

.open-menu{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.close-menu{
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.menu .button{
    margin-inline: auto;
    padding: 16px 32px;
    background: #FFFFFF;
    color: var(--primary-color);
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-top: 4.8rem;
    margin-bottom: 6rem;
}

.menu .button:hover{
    background: var(--primary-color);
    color: white;
    filter: brightness(1.3);
}

/*======= #SERVICES ==============================================*/

#services header h2{
    margin-bottom: 6rem;
}

#services .card svg circle{
    fill: var(--headline);
}

#services .cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 6rem;
}

#services .cards .card{
    padding: 2.4rem;
    border: 1px solid var(--brand-green);
    border-radius: 0.6rem;
    text-align: left;
    /*background: linear-gradient(90deg,#8257e6 -17.67%,rgba(232,63,91,.6) 118.51%);*/
    background: white;       
}

#services .cards .card h3{
    margin-block: 1.6rem;
}

/*======= #ABOUT ==============================================*/
#about{
    text-align: left;
    background: var(--brand-beige);
}

#about header h2{
    margin-bottom: 2.4rem;
}

#about .content p{
    margin-bottom: 6rem;
}

/*======= #CONTACT ==============================================*/

#contact{
    text-align: left;
}

#contact header{
    margin-bottom: 3.2rem;
}

#contact .content .list-contacts li{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
}

/*======= #FOOTER ==============================================*/

footer{
    background: var(--primary-color);
    color: white;
    text-align: left;
    padding-block: 6rem;
}

footer p{
    color: var(--brand-beige);
    line-height: 2;
    margin-bottom: 3.2rem;
}

footer .logo{
    display: inline-block;
    margin-bottom: 2.4rem;
}

footer .logo svg{
    width: 23.6rem;
    height: 3.1rem;
}

footer .logo path{
    fill: white;
}

footer .social-links{
    justify-content: flex-start;
}

/*======= #Button back top ==============================================*/

#buttonBackToTop{
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
    transition: 1.5s;
}

#buttonBackToTop.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/*====================== MEDIA 1024PX ==============================================*/

@media (min-width: 1024px){

  /* RESET */
  nav#navbar .wrapper *{
      margin: 0;
      padding: 0;
      visibility: initial;
      display: initial;
      opacity: initial;
      flex-direction: initial;
      position: initial;
      font-size: initial;
      transform: initial;
      font-weight: initial;
      color: initial;
      background-color: initial;
      filter: initial;
  }

/*======= GERAL =================================*/
body{
    overflow: auto;
}
.wrapper{
    width: min(112rem, 100%);
    display: grid;
}

section{
    padding-block: 16rem;
}

section h2{
    font-size: 4rem;
    line-height: 5.2rem;
}

.col-a{
    grid-area: A;
}
.col-b{
    grid-area: B;
}

  /*======= #NAVBAR =================================*/
  nav#navbar .social-links,
  nav#navbar .open-menu,
  nav#navbar .close-menu{
      display: none;
  }

  nav#navbar .menu{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
  }

  nav#navbar .menu ul:nth-child(1){
      display: flex;
      gap: 3.2rem;
  }

  nav#navbar .menu ul li a{
      text-decoration: none;
      color: var(--primary-color);
      opacity: 0.7;
  }

  nav#navbar.scroll .menu ul li a{
    color: var(--brand-light-2);
    opacity: 0.6;
  }

  nav#navbar .menu ul li a.active,
  nav#navbar .menu ul li a:hover{
    opacity: 1;
    font-weight: 700; 
    transition: opacity .6s;
  }

  nav#navbar .menu ul li a.active::after,
  nav#navbar .menu ul li a:hover::after{
      width: 100%;
      padding-inline: .6rem;
      transition: width .8s;
  }


  nav#navbar .menu ul li a::after{
      content: '';
      width: 0;
      height: 3px;
      
      background: var(--primary-color);
      display: block;
      position: relative;
      bottom: -2.4rem;
      left: -.5rem;
  }

  nav#navbar.scroll .menu ul li a::after{
    background: var(--brand-light-2);
}

  nav#navbar .menu a.button{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 40px;
    padding: 1rem 2.4rem;
    width: fit-content;
    font-weight: 700;
    font-size: 1.4rem;
  }

  nav#navbar .menu a.button.active,
  nav#navbar .menu a.button:hover{
      background: var(--primary-color);
      color: white;
      border: none;
  }

  nav#navbar.scroll .menu a.button{
    border: 1px solid white;
    color: white;
    filter: brightness(1.3);
  }

  nav#navbar.scroll .menu a.button.active,
  nav#navbar.scroll .menu a.button:hover{
      border: none;
  }

 /*======= #HOME =================================*/
 #home::before{
     height: calc(96% - var(--nav-height));
 }
 
 #home .wrapper{
     grid-template-columns: 60.5rem 1fr;
     grid-template-areas: 
     'A B'
     'C C';
 }

 #home h1{
     font-size: 5rem;
 }

 #home{
     padding: 0;
     padding-top: var(--nav-height);
 }

 #home .col-a{
     text-align: left;
     align-self: center;
 }

 #home .button-primary{
     margin: 0;
 }

 #home .container-static{
     grid-area: C;
     flex-direction: row;
     padding: 6rem;
     gap: 0;
 }

 #home .container-static .static{
     flex: 1;
 }

 #home img{
     width: 38rem;
 }


 #home .container-static .static + .static{
     border-left: 1px solid var(--primary-color);
     
 }

/*======= #SERVICE ==============================================*/

 #services h2{
    max-width: 49rem;
    margin: auto;
 }

 #services .cards{
     flex-direction: row;
     flex-wrap: wrap;
     gap: 4rem;
     margin: 0;
 }

 #services .cards .card{
     width: 30%;
     flex-grow: 1;
 }

 /*======= #ABOUT ==============================================*/
#about .wrapper{
    grid-template-columns: calc(50% - 6.7rem) 50%;
    grid-template-areas: 'A B';
    gap: 6.7rem;
}

#about .wrapper .col-b{
    align-self: center;
}

#about .wrapper .col-b h2{
    max-width: 44rem;
}

#about .wrapper .col-b p{
    margin-bottom: 0;
    width: 100%;
}

/*======= #CONTACT ==============================================*/
#contact .wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
}

#contact .wrapper .col-a{
    align-self: center;
}
}